$block-color: #F0EEEF;
$text-color-3: #C3B6BE;
$text-color-4: #5A4A52;
$main-text: #0E0C0D;

$body-background: #F7F8FF;
$block-bg: #F8F7F8;
$white-color: #ffffff;
 
//buttons
$button-color-4: #F1F4FF;
$button-color-3: #A8BBFF;
$button-active: #415AFF;
$button-color-2: #7790FF;
$button-primary: #010D6F;